@font-face {
  font-family: PressStart;
  src: url('../fonts/PressStart2P.ttf');
}

html {
  font-family: PressStart, sans-serif;
  font-size: 24px;
}

body {
  background-image: url('../images/panel_2.jpg');
  background-size: cover;
}

canvas {
  border: 5px inset;
}

.panel {
  position: relative;
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
  background-image: url('../images/metal_5.jpg');
  box-shadow: 5px 5px #9a9a9a;
}

.screw {
  position: absolute;
}

.left {
  left: 6px;
}
.right {
  right: 6px;
}
.upper {
  top: 6px;
}
.lower {
  bottom: 6px;
}

.hidden {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.float-btn {
  position: fixed;
  color: black;
  bottom: 20px;
}

.float-btn:hover {
  color: blue;
}

.github {
  right: 20px;
}

.linkedin {
  right: 100px;
}

@media (max-width: 900px) {
  .float-btn {
    position: fixed;
    color: black;
    bottom: 20px;
    font-size: 12px;
  }

  .linkedin {
    right: 60px;
  }
}
