@font-face {
  font-family: PressStart;
  src: url('../fonts/PressStart2P.ttf');
}

html {
  font-family: PressStart, sans-serif;
  font-size: 24px;
}

body {
  background-image: url('../images/control_panel.jpg');
  background-size: cover;
}

canvas {
  border: 5px ridge;
  margin: 20px;
}

.hidden {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.float-btn {
  position: fixed;
  color: black;
  bottom: 20px;
}

.float-btn:hover {
  color: blue;
}

.github {
  right: 20px;
}

.linkedin {
  right: 100px;
}
